<div class="hero">
	<div class="container">
		<div class="callout">
			<h1>amazing new beers, at your doorstep</h1>
			<p>BeerBox delivers a hand-built crate of America’s finest craft brew to your door every month. Let us know how you like it, and next month’s haul will be tailored to your tastes. Think Pandora for your pint glass.</p>
			<a href="#" class="cta-button">Get Yours Now</a>
		</div>
	</div>
</div>

<div class="logo-rail row">
	<%= image_tag "logostrip.png" %>
</div>
<div class="container">
	<div class="row">
		<h2>How it works</h2>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<h3>Drink It</h3>
			<p>
				We send you a 12-pack sampler containing a variety of our best beers from around the country in a custom-designed, reusable wooden crate.
				<br /><%= link_to(raw("Read about our selection <span class='glyphicon glyphicon-arrow-right'></span>")) %>
			</p>
			
		</div>
		<div class="col-sm-4">
			<h3>Rate It</h3>
			<p>
				Learn about and rate the beers you tried here online. Your rating on a number of criteria to help refine the types of flavors and styles of beer you see next month.
				<br /><%= link_to (raw("More about ranting system <span class='glyphicon glyphicon-arrow-right'></span>")) %>
			</p>
		</div>
		<div class="col-sm-4">
			<h3>Compare and Explore</h3>
			<p>
				As your ratings catalog expands, see how your tastes match with other users, and hone in on your perfect 12 pack, or mix it up and let us keep providing a great random selection of brews from around America!
				<br /><%= link_to (raw("Get started today <span class='glyphicon glyphicon-arrow-right'></span>")) %>
			</p>
		</div>
	</div>
</div>
<!--
<div id="welcome">
  <h1>Membership Site</h1>
  <h3>Learn to build a successful subscription site.</h3>
</div>

<div class="container">
<div class="row plans">
  <div class="col-sm-2 well">
    <div class="plan"><h2>Silver</h2></div>
    <ul class="list-unstyled">
      <li>One lesson a month</li>
    </ul>
    <h3>$9/month</h3>
    <%= link_to 'Subscribe', new_user_registration_path(:plan => 'silver'), :class => 'btn btn-primary' %> 
  </div>
  <div class="col-sm-2 well featured">
    <div class="plan featured-plan"><h2>Gold</h2></div>
    <ul class="list-unstyled">
      <li>Ten lessons a month</li>
    </ul>
    <h3>$19/month</h3>
    <%= link_to 'Subscribe', new_user_registration_path(:plan => 'gold'), :class => 'btn btn-primary' %> 
  </div>
  <div class="col-sm-2 well">
    <div class="plan"><h2>Platinum</h2></div>
    <ul class="list-unstyled">
      <li>Thirty lessons a month</li>
    </ul>
    <h3>$29/month</h3>
    <%= link_to 'Subscribe', new_user_registration_path(:plan => 'platinum'), :class => 'btn btn-primary' %> 
  </div>
</div>
</div>
-->